a {
    text-decoration: none
}

body {
    color: rgba(0, 0, 0, .75);
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    line-height: 1.4;
    max-width: 1280px;
    -webkit-font-smoothing: antialiased
}

a {
    color: #357edd;
    font-weight: 400
}

a:hover {
    text-decoration: underline
}

code,
kbd,
pre {
    font-family: sf mono, segoi ui mono, roboto mono, Menlo, Monaco, Consolas, monospace, apple color emoji, segoe ui emoji, segoe ui symbol
}

footer {
    font-size: 1rem;
    padding-top: 6em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sf pro display, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    margin: 1em 0
}

h1 {
    font-size: 2.5em
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.75em
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.375em
}

h6 {
    font-size: 1.25em
}

header {
    padding-top: 6em
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    width: 6em;
    padding-top: 3em
}

sub,
sup {
    font-size: .9rem
}

ul {
    list-style-type: initial
}

footer {
    padding-bottom: 6em
}

li {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: .125em
}

p {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 1.5em 0;
    max-width: 750px
}

ol,
ul {
    margin: 1em 0 3em 4em
}

ol li,
ul li {
    font-size: 1rem;
    margin-bottom: .25em
}

li p {
    padding-right: 3em
}

blockquote {
    border-left: 2px solid rgba(0, 0, 0, .15);
    margin-left: .25em;
    padding-left: 2em
}

blockquote p {
    max-width: none
}

header,
main,
footer {
    padding-left: 6em;
    padding-right: 6em
}

.github:hover {
    color: #2BAEE6
}

.twitter:hover {
    color: #2BAEE6
}

@media only screen and (max-width:800px) {
    header,
    main,
    footer {
        padding-left: 1.5em;
        padding-right: 1.5em
    }
}

@media only screen and (min-width:800px) and (max-width:1000px) {
    header,
    main,
    footer {
        padding-left: 4em;
        padding-right: 4em
    }
}

@media only screen and (max-width:1000px) {
    blockquote {
        padding-left: 1.875em
    }
    footer {
        padding-bottom: 2em
    }
    header {
        padding-top: 2em
    }
    ol,
    ul {
        margin: 1em 0 2em 1.875em
    }
    li p {
        padding-right: 0
    }
}