body {
    background-attachment: fixed;
    background-color: white;
    background-image:linear-gradient(to bottom right,#fafafa,#fafafa);
    background-repeat: no-repeat;
    background-size: cover
}

a {
    color: #000;
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 600;
    letter-spacing: -.0125em
}

a:hover {
    color: #2BAEE6
}

.intro-text {
    font-size: 2rem;
    margin-bottom: .1em
}

.intro-text a {
    color: inherit;
    font-family: sf pro display, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 600;
    letter-spacing: 0
}

.intro-text a:hover {
    color: #2BAEE6
}

.projects {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: .25em 0
}

.projects li {
    font-size: 1rem;
    margin: 0 1.5em 1.5em 0;
    width: 90px
}

.projects li img:hover {
    transform: scale(1.1)
}

.icon-ios {
    border-radius: 17.544%;
    box-shadow: 0 .1125em .1em rgba(0, 0, 0, .25)
}

@media only screen and (max-width:1000px) {
    .intro-text {
        font-size: 4rem;
        line-height: 1.1
    }
    .projects li {
        width: 50px;
        font-size: .975rem
    }
}